argcomplete==3.4.0
array_api_strict==2.0.1
astroid==3.2.4
bottleneck==1.4.0
brotli==1.1.0
cairocffi==1.7.1
celery==5.4.0
cfgrib==0.9.14.0
cftime==1.6.4
cmdstanpy==1.2.4
colorama==0.4.6
cubed==0.15.0
defcon==0.10.3
docrepr==0.2.0
flox==0.9.8
fqdn==1.5.1
freetype_py==2.4.0
fsspec==2024.6.1
glyphsLib==6.7.1
h2==4.1.0
h5==0.9.3
h5pyd==0.18.0
hypothesis==6.108.3
ipykernel==6.29.5
ipyparallel==8.8.0
ipywidgets==8.1.3
iris==1.0.7
isoduration==20.11.0
jax==0.4.30
joblib==1.4.2
jsonpointer==3.0.0
keyring==25.2.1
lz4==4.3.3
mpmath==1.3.0
munkres==1.1.4
mypy==1.11.0
nc_time_axis==1.4.1
netifaces==0.11.0
networkx==3.3
nibabel==5.2.1
numbagg==0.8.1
numexpr==2.10.1
numpydoc==1.7.0
odfpy==1.4.1
olefile==0.47
openpyxl==3.1.5
opt_einsum==3.3.0
pathlib2==2.3.6
pgmpy==0.1.19
pkgutil_resolve_name==1.3.10
psutil==6.0.0
pycurl==7.45.3
pyczmq==0.0.4
pydap==3.4.1
PyInstaller==6.9.0
pymc==5.16.2
PyOpenGL==3.1.7
pyperf==2.7.0
qtpy==2.4.1
railroad==0.5.0
reportlab==4.2.2
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
scikit_learn==1.5.1
scipy_doctest==1.3
selenium==4.23.0
setuptools_scm
sip==6.8.6
Sphinx==7.4.7
SQLAlchemy==2.0.31
sympy==1.13.1
testpath==0.6.0
threadpoolctl==3.5.0
trio==0.26.0
webcolors==24.6.0
wrapt==1.16.0
xattr==1.1.0
xlsxwriter==3.2.0
yapf==0.40.2
zopfli==0.2.3
zstandard==0.23.0
python-dotenv
